@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  background-color: #141516;
  color: #5af78e;
  font-family: 'Roboto', sans-serif;

}
a{
  color:lime
}
h2, h3{
  text-align: center;
}
.header{
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  &-item{
    padding: 1rem;
    align-items: center;
    align-self: center;
    p {
      height: 0;
      overflow: visible;
      margin: 0;
    }
  }
  .profile img {
    border-radius: 50%;
  }
}

h1{
  text-align:center;
}
.me{
  height: 200px;
  width: 200px;
}
.project-display{
  display:grid;
  grid-template-columns: auto auto;
  max-width: 1000px;
  margin: 32px auto;
  text-align:center;
}
.preview{
  width: 400px;
  height: 250px;
}

.gameclips {
  display: flex;
  flex-direction: column;
}
.gameclips figure {
  flex: 1;
}