<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/404.css">
</head>
<body>
    <h2>Ooopsie, you tried to go to a page that doesn't exist.</h2>
    <h3>Try to use JS to control redirects on particular click events</h3>
    <figure>
        <img class='pop-culture-gif' src="" alt="">
    </figure>
    <script src="scripts/404.js"></script>
</body>

</html>